.row.pager,.media.author_description,.row.m0.widget.comments {
    display: none !important;
}




.breadcrumbRow .inner ul li {
    font-family: 'helvlightregular' !important;
}
.blog h3:hover {
    color: #C82506 !important;
}

@media (max-width: 767px){
    
    .navbar-header{
            padding-top: 00px !important;
    }
    
.default .navbar #main_nav {
    background:#727272 !important;   
}
    .default .navbar #main_nav .nav{
        margin-left:15px !important;
    }
}
a.sideask:after {
    height: 0 !important;
    margin: 0 !important;
}

li.hidden-xs.book a {line-height:40px !important;}
.fleft.schedule{ display: none !important;}
.default .navbar.navbar2 #main_nav .nav li.book{ padding: 5px 0 !important; }
.default .navbar.navbar2 #main_nav .nav li a{line-height:50px !important;}
.default .navbar.navbar2 .navbar-header a.navbar-brand {
    line-height: 47px !important;
}
section.row.breadcrumbRow{display:none;}
section.row.breadcrumbRow.new{display:block !important;}
/*.howborder img{
    border:1px solid #C82506;
}*/

.vc_custom_1453882243465 {
    margin-top: -20px !important;
}

.sidebarmenu{
    padding-left: 0 !important;
    list-style-type: none !important;
}
.sidebarmenu li{
    margin-bottom:0px;
}
.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 24px !important;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu {
 min-width:5px !important;
    padding: 20px 30px;
}
.sidebarmenu li .sidemenu:hover{
    color:#C82506 !important;
    cursor:pointer !important;
    pointer-events: all !important;
}
.sidebarmenu li .sidemenu{
    color:#000;
    font-weight: bold;
    font-size:12px;
     font-family: 'helvlightregular';
    text-transform:uppercase;
}

.default .navbar #main_nav .nav li a{
    text-transform: none !important;
}
footer {
    background: rgb(52,52,52) !important;
}

.extramenu h5 span {
    font-size: 16px !important;
    font-weight: bold;
}
.extrasubmenu {
    margin-top: 25px;
}
.extramenu {
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EBF0F5;
}

.entry-content p,.entry-content h5,.entry-content h4{
    line-height:28px !important;
}


.navbar-header{
    padding-top:20px !important;
}
div#main_nav{
    padding:20px 0;
}
.recomme li .sidemenu{
    color:#000;
        line-height: 19px;
    font-size: 13px;
       font-family: 'helvlightregular';
    /*text-transform:uppercase;*/
    font-weight: lighter;
    /*letter-spacing: .21px;*/
    cursor:default !important;
}
.recomme li .sidemenu:hover{
    color:#000;
    pointer-events: none !important;
    cursor:default !important;
 
}
.sidemenu i{
    color:#C82506;
    margin-right:12px;
}

.about_medicalpro .content1 {
    padding: 10px 45px 0px 55px !important;
}
.activecustom{
    margin-top:11%;
    margin-bottom:16%;
}
.activecustom,.activecustom1,.activecustom2{
    cursor:pointer;
}
.activecustom,.activecustom1,.activecustom2,.activecustom3,.activecustom4,.activecustom5{
    border:1px solid transparent;
    transition:.3s;
}
.introduction{
    border:1px solid #333 !important;
    transition:.3s;
}
.activecustom3 p,.activecustom4 p,.activecustom5 p{
   transition:.3s;    
}
.introduction p{
    padding:12px;
    transition:.3s;
}
.inqury{
    margin-bottom:-40px !important;
}
.recent_post_home .media .media-body .meta{
    text-transform:upp;
}
.axiostatfont h4 span{
       font-family: 'helvlightregular';
    text-transform:none;
}
.entry-content h4{
      font-family: 'helvlightregular';
    font-size:19px;
    text-transform:none;
}
.entry-content p,.page_intro.row h5,.page_intro.row h2,.book_banner h3.bannerTitle,.book_banner h5{
      font-family: 'helvlightregular';
}
.entry-content h2{
       font-family: 'helvlightregular';
    text-transform:none !important;
    color:#000;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu{
        background: #00aeb5;
}

form.wpcf7-form p,.quick_block .inner p{
    color:#fff;
}
.recent_post_home .media .media-body .meta a,.recent_post_home .media .media-body h4, .recent_post .inner .authorMeta .media-body h5, .titleRow h2, .titleRow h5,
.service_tab .tab-content .tab-pane h3, .service_tab .tab-content .tab-pane h4, .service_tab .tab-content .tab-pane p, .service_tab #service_tab li a,
.service_tab #service_tab li.active a{
    color:#000;
}
.recent_post_home .media .media-body .meta a:hover,.recent_post_home .media .media-body h4:hover{
    color:#C82506;
}
.customtexts{
    text-align:justify;
    color:#000 !important;
    line-height: 19px !important;
    font-size: 13px !important;
    font-weight: lighter !important;
}
.yearte{
    margin-right:20px;
}

.service_tab .tab-content .tab-pane .ts{display:none !important;}
.recent_post_home2{background:#fff;}
.book_bannerType2{background:black !important;}
.book_bannerType2 .view_all{color:#C82506 !important;}
.book_bannerType2 .view_all:hover{color:white !important; background:#C82506 !important;}
.book_bannerType2{padding: 0px 0 21px !important;}
.helvetica{       font-family: 'helvlightregular';}

.service_tab .tab-content .tab-pane h4,.service_tab .tab-content .tab-pane p,.service_tab .tab-content .tab-pane h3,.view_all,
.titleRow h2,.recent_post_home .media .media-body h4,.recent_post_home .media .media-body .meta,.titleRow h5,
.service_tab #service_tab li a,.quick_block .inner a,quick_block .inner p,.recent_post_home .media .media-body p,
footer h3, footer h2,footer .widget_nav_menu ul li a,footer .address_line,footer .newsletterForm input,footer .footer_bottom .copyright,
.recent_post .inner .postText,.recent_post .inner .authorMeta .media-body h5,.recent_post .inner .authorMeta .media-body .designation,
.quick_block .inner .heading h3,.top_bar .container > .row,.default .navbar #main_nav .nav li a,
.quick_block .inner p
{     font-family: 'helvlightregular';}

.wpcf7-form-control::-webkit-input-placeholder {
    color:    #000;
}
.wpcf7-form-control:-moz-placeholder {
    color:    #000;
}
.wpcf7-form-control::-moz-placeholder {
    color:    #000;
}
.wpcf7-form-control:-ms-input-placeholder {
    color:    #000;
}




.wpcf7-form-control{
background: #fff;
width:100%;
    line-height: 50px;
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0 25px;
    color: #000;
     font-family: 'helvlightregular';
    text-shadow: none;
        max-width: 100%;
    font-size: 16px;
    }
.wpcf7-submit{
        background: #000;
    
    text-align: center;
    width:100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.wpcf7-submit:hover{
        background: #C82506;
}

@media (max-width: 767px){
.default .navbar .navbar-header a.visible-xs {
    background: #000 !important;
}
.default .navbar .navbar-header a.visible-xs:hover {
    background: #C82506 !important;
}
}

.quick_block.bill_payments .inner {
   /*background: rgba(56, 56, 56, 1) !important;*/
   min-height:226px;
   /*background: rgba(181, 181, 181, 0.9) !important;*/
   background:url(http://www.axiobio.com/wp-content/uploads/2016/02/axio_3boxes_3.png) !important;
}
.quick_block.branches .inner {
    min-height:226px;
   background: #373737 !important;
   /*background:url(http://www.axiobio.com/wp-content/uploads/2016/02/axio_3boxes_2.png) !important;*/
}
.quick_block.emmergency .inner {
    min-height:226px;
    /*background: rgba(70, 70, 70, 0.9) !important;*/
   background:url(http://www.axiobio.com/wp-content/uploads/2016/02/axio_3boxes_1.png) !important; 
}
.fleft.phone strong{
    font-weight:normal !important;
}
footer{
    padding:64px 0 4px !important;
}
.service_tab .tab-content .tab-pane h4{
    font-weight:bold;
    
}
.recent_post .inner .authorMeta .media-body .designation{
    text-transform:none !important;
    color:#4a525d;
        width: 84%;
    text-align: center;
    margin: 0 auto;
}
.contactus .wpb_wrapper h2.wpb_heading.wpb_widgetised_column_heading{
    opacity:0;
    display: none;
}
/*footer .widget_nav_menu ul li {
    width: 33%;
    display: inline-block;
    border-left: 1px solid #fff;
    padding-left: 10px;
}
.menubottom{
    padding:0;
}*/
footer .footer_bottom{
    margin-top:-20px !important;
    margin-bottom:65px;
}
.book_banner{
    background: #000;
}
.book_banner .view_all:hover{
        background:#C82506;
}
.book_banner .view_all{
    color:#000;}
    
    .fright.copyright{ margin-right:0%; width:352px;}
    footer .widget_nav_menu ul li,.media.address_line{
        font-size:12px;
    }
    
    .hesperiden .tp-thumb:hover .tp-thumb-title{
    display: none !important;
    }
    .page_intro.row{
        background: #000 !important;
    }
    .page_intro.row .inner:after{
            background: rgba(99, 99, 99, 0.0) !important;
    }
    
    ul.list-unstyled.depts_list{list-style:none !important;     margin-left: -10% !important;}
    ul.list-unstyled.depts_list li a {color:#C82506 !important;
        padding:20px 20px;
        font-weight:800;
    }
    ul.list-unstyled.depts_list li{padding:5px 0px;}
    .custom_low{    text-transform: none !important; color:black !important;}
    .gyges .tp-thumb-img-wrap{
        background-color:black !important;
    }