/*----------------------------------------------------------------*/
.top_bar {
  background: #fff;
  z-index: 2;
}
.top_bar .container > .row {
  border-bottom: 1px solid  #ebf0f5;
  padding: 16px 0;
  line-height: 20px;
  color: #7184a5;
  font-family: 'helvlightregular';
  font-weight: 300;
}
.top_bar .container > .row i {
  margin-right: 7px;
  font-size: 18px;
  float: left;
}
.top_bar .container .contact_info .email {
  margin-right: 20px;
}
.top_bar .container .contact_info .email a {
    color: black;
}
.top_bar .container .contact_info .email img {
  margin-right: 6px;
}
.default .navbar {
  background: none;
  margin: 0 0 73px;
  padding: 28px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  position:absolute;
  width:100%;
  height: 321px;
  background: url('../../images/menu-shadow.png') repeat-x scroll 0 0 transparent;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.default .navbar .navbar-header a.navbar-brand {
  line-height: 48px;
  padding: 0 15px;
  display: block;
  height: auto;
}
.default .navbar .navbar-header a.navbar-brand img {
  display: inline-block;
}
.default .navbar #main_nav .nav {
  margin: 0;
}
.default .navbar #main_nav .nav li a {
  color: #ccd5e7;
  text-shadow: none;
  text-transform: uppercase;
  line-height: 48px;
  padding: 0 16px;
  font-family: 'helvlightregular';
  font-weight: 300;
}
.default .navbar #main_nav .nav li a:hover,
.default .navbar #main_nav .nav li a:focus {
  color: #fff;
  background: none;
}
.default .navbar #main_nav .nav li.active a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.default .navbar #main_nav .nav li.dropdown a {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.default .navbar #main_nav .nav li.dropdown a:focus {
  background: none;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu {
  border-radius: 0;
  padding: 20px 30px;
  border: none;
  background: none;
  display: block;
  background: #0186d5;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  min-width: 235px;
  left: 0;
  right: auto;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a {
  line-height: 40px;
  font-weight: 400;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a:after {
  content: '';
  width: 0;
  height: 1px;
  background: #c82506;
  display: block;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a:hover {
  color: #c82506;
}
.default .navbar #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
  width: 100%;
}
.default .navbar #main_nav .nav li.dropdown:hover a {
  color: #fff;
  background: #0186d5;
}
.default .navbar #main_nav .nav li.dropdown:hover ul {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.default .navbar #main_nav .nav li.dropdown:hover ul li a {
  background: none;
}
.default .navbar #main_nav .nav li.book a {
  background: black;
  padding: 0 25px;
  color: #fff;
  line-height: 48px;
  margin-left: 15px;
}
.default .navbar #main_nav .nav li.book a:hover {
  background: #C82506;
}
.default .navbar.navbar2 {
  background: #fff;
  height: auto;
  padding-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
  position:relative;
}
.default .navbar.navbar2 .navbar-header a.navbar-brand {
  line-height: 88px;
}
.default .navbar.navbar2 #main_nav .nav li a {
  line-height: 88px;
  color: black;
}
.default .navbar.navbar2 #main_nav .nav li a:hover {
  color: #404d5f;
}
.default .navbar.navbar2 #main_nav .nav li.active a {
  color: #404d5f;
}
.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.7);
}
.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a:hover {
  color: #c82506;
}
.default .navbar.navbar2 #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
  width: 100%;
}
.default .navbar.navbar2 #main_nav .nav li.dropdown:hover a {
  color: #404d5f;
  background: none;
}
.default .navbar.navbar2 #main_nav .nav li.book {
  padding: 20px 0;
}
.default .navbar.navbar2 #main_nav .nav li.book a {
  color: #fff;
  line-height: 48px;
}
.default .navbar.navbar3 {
  background: #0186d5;
  height: auto;
  padding-top: 0;
  margin-bottom: 0;
   position:relative;
}
.default .navbar.navbar3 .navbar-header a.navbar-brand {
  line-height: 88px;
}
.default .navbar.navbar3 #main_nav .nav li a {
  line-height: 88px;
}
.default .navbar.navbar3 #main_nav .nav li a:hover {
  color: #fff;
}
.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.7);
}
.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a:hover {
  color: #c82506;
}
.default .navbar.navbar3 #main_nav .nav li.dropdown .dropdown-menu li a:hover:after {
  width: 100%;
}
.default .navbar.navbar3 #main_nav .nav li.dropdown:hover a {
  color: #fff;
}
.default .navbar.navbar3 #main_nav .nav li.book {
  padding: 20px 0;
}
.default .navbar.navbar3 #main_nav .nav li.book a {
  color: #fff;
  line-height: 48px;
}
.default .navbar.collapsed {
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.default .navbar.affix {
  width: 100%;
  top: 0;
  position:fixed;
}
/*----------------------------------------------------------------*/